.rowContainer{
    display: grid;
    grid-template-columns: 29% 18% 18% 18% 11%;
    column-gap: 1.5%;
    background: rgba(30, 38, 47, 1);
    border-radius: 1rem;
    margin: 2rem 0;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    padding: 1.8rem 1.8rem 1.8rem 1.1rem;
}

.user span h2{
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 500;
}

.user span h3{
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 0.1rem;
}

.steps{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 2rem;
}

.stepsProgressbar{
    height: 6rem;
    width: 6rem;
    margin: 0.8rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.stepsProgressbar p{
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.workout{
    background: yellow;
    height: 2vh;
}

.nutrition{
    background: lime;
    height: 2vh;
}

.notifyBtn{
    background: green;
    height: 2vh;
}